<!DOCTYPE html>
<h4 class="truncated">{{ uploaded }}</h4>
<form method="POST">
  {{ form.hidden_tag() }}
  <p>
    {{ form.magnitude.label }}
    <span class="btn-group colors" data-toggle="buttons">
      {% for subfield in form.magnitude %}
      {% if loop.index <= 1 %}
      <label class="btn btn-default active">
        {% else %}
        <label class="btn btn-default">
          {% endif %}
          <td>{{ subfield }}</td>
          <td>{{ subfield.label.text }}</td>
        </label>
      </tr>
      {% endfor %}
    </span>
  </p>
  <p>
    {{ form.period.label }}
    <span class="btn-group colors" data-toggle="buttons">
      {% for subfield in form.period %}
      {% if loop.index <= 1 %}
      <label class="btn btn-default active">
        {% else %}
        <label class="btn btn-default">
          {% endif %}
          <td>{{ subfield }}</td>
          <td>{{ subfield.label.text }}</td>
        </label>
      </tr>
      {% endfor %}
    </span>
    <button type="submit", class="btn btn-primary btn-lg", value="Remove silence",
    id="removeSilence" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Starting">Remove silence</button>
  </p>
</form>

<script type="text/javascript">
function update_state()
{
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  $.getJSON($SCRIPT_ROOT+"/_state",
  function(data) {
    if (data.state != lastState) {
      $('#removeSilence').button('reset');
      $('#removeSilence').data('loading-text', "<i class='fa fa-circle-o-notch fa-spin'></i> "+data.state);
      $('#removeSilence').button('loading');
      lastState = data.state
    }
    if (data.state == "Finished"){
      clearInterval(updateStatelId)
      $('#removeSilence').button('reset');
      window.location.href='send_result'
    }
  });
}

var updateStatelId
var lastState = 'Init'

$('#removeSilence').on('click', function() {
    var $this = $(this);
  $this.button('loading');
  updateStatelId = setInterval(update_state, 500)
});

</script>
