<!DOCTYPE html>
<h3>{{ uploaded }}</h3>
<form method="POST">
  {{ form.hidden_tag() }}
  <p>
    {{ form.magnitude.label }}
    <span class="btn-group colors" data-toggle="buttons">
      {% for subfield in form.magnitude %}
      {% if loop.index <= 1 %}
      <label class="btn btn-default active">
        {% else %}
        <label class="btn btn-default">
          {% endif %}
          <td>{{ subfield }}</td>
          <td>{{ subfield.label.text }}</td>
        </label>
      </tr>
      {% endfor %}
    </span>
  </p>
  <p>
    {{ form.period.label }}
    <span class="btn-group colors" data-toggle="buttons">
      {% for subfield in form.period %}
      {% if loop.index <= 1 %}
      <label class="btn btn-default active">
        {% else %}
        <label class="btn btn-default">
          {% endif %}
          <td>{{ subfield }}</td>
          <td>{{ subfield.label.text }}</td>
        </label>
      </tr>
      {% endfor %}
    </span>
    <input type="submit", class="btn btn-primary", value="Remove silence">
  </p>
</form>

<div id="state"></div>

<script type="text/javascript">
function update_state()
{
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  $.getJSON($SCRIPT_ROOT+"/_state",
  function(data) {
    $("#state").text(data.state)
    if (data.state == "finished"){
      clearInterval(updateStatelId)
      window.location.href='send_result'
    }
  });
}
var updateStatelId = setInterval(update_state, 1000)
</script>
