<!DOCTYPE html>
<html>
    <body>
        <h3>{{ uploaded }}</h3>
        <form method="POST" action="/">
          {{ form.hidden_tag() }}
          {{ form.magnitude.label }}
          <p>
          {% for subfield in form.magnitude %}
          <tr>
            <td>{{ subfield }}</td>
            <td>{{ subfield.label }}</td>
          </tr>
          {% endfor %}
          </p>
          {{ form.period.label }}
          <p>
          {% for subfield in form.period %}
          <tr>
            <td>{{ subfield }}</td>
            <td>{{ subfield.label }}</td>
          </tr>
          {% endfor %}
          <input type="submit" value="Go">
          </p>
        </form>

        <div class="progress">
          <div class="bar"></div >
          <div class="percent">0%</div >
        </div>
        <div id="status"></div>

    </body>
</html>
