<!DOCTYPE html>
<html>
    <head>
      <title>Video Silence Remover</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
      <link href="static/css/font-awesome.min.css" rel="stylesheet" media="screen", type="text/css">
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
      <script src="http://malsup.github.com/jquery.form.js"></script>
      <script src="static/js/bootstrap.min.js"></script>
      <script src="{{ url_for('static', filename = 'upload_bar.js') }}"></script>
    </head>
    <body>
        <div class="container">
          <div class="center-block">
            <i class='fa fa-circle-o-notch fa-spin'> </i>Video Silence Remover
            <form method="POST" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <p>
                  <div class="input-group">
                    <span class="input-group-btn">
                      <span class="btn btn-primary" onclick="$(this).parent().find('input[type=file]').click();">Browse</span>
                      {{ form.videofile(style="display: none;", onchange="$(this).parent().parent().find('.form-control').html($(this).val().split(/[\\|/]/).pop());")}}
                    </span>
                    <span class="form-control"></span>
                  </div>
                </p>
                <p>
                    <input id=uploadButon type="submit", class="btn btn-primary disabled uploadfile",
                           value="Upload video" disabled>
                </p>
            </form>
            <div class="progress">
              <div class="progress-bar" role="progressbar"></div >
            </div>
          </div>
        </div>
        </div>

        <div class="container">
        <div id="status"></div>
        </div>
    </body>
</html>
