<!DOCTYPE html>
<html>
<head>
  <title>Visire</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename = 'css/jumbotron-narrow.css') }}" rel="stylesheet">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
  <script src="http://malsup.github.com/jquery.form.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename = 'js/upload_bar.js') }}"></script>
</head>
<body>
  <div class="container">
    <div class="header clearfix">
      <nav>
        <ul class="nav nav-pills pull-right">
          <li role="presentation" class="active"><a href="#">Home</a></li>
          <!--<li role="presentation"><a href="#">About</a></li>
          <li role="presentation"><a href="#">Contact</a></li>-->
        </ul>
      </nav>
      <h3 class="text-muted"><i class='fa fa-circle-o-notch fa-spin'> </i> Visire</h3>
    </div>

    <div class="jumbotron">
      <h1>Try it!</h1>
      <p class="lead">Click Browse and upload your video.
        Choose the maximum noise level and minimum duration of the segments
        that you want to leave out of the video. Enjoy!</p>
    </div>

    <div class="row marketing">
      <div class='col-lg-9'>
        <form method="POST" enctype="multipart/form-data">
          {{ form.hidden_tag() }}
          <p>
            <div class="input-group">
              <span class="input-group-btn">
                <span class="btn btn-primary" onclick="$(this).parent().find('input[type=file]').click();">Browse</span>
                {{ form.videofile(style="display: none;", onchange="$(this).parent().parent().find('.form-control').html($(this).val().split(/[\\|/]/).pop());")}}
              </span>
              <span class="form-control truncated"></span>
            </div>
          </p>
          <p>
            <input id=uploadButon type="submit", class="btn btn-primary disabled uploadfile",
            value="Upload video" disabled>
            <div class="progress">
              <div class="progress-bar" role="progressbar"></div>
            </div>
          </p>
        </form>
      </div>
      </div>

      <div class="row marketing">
        <div class='col-lg-9' id="status"></div>
      </div>

    <footer class="footer">
      <p>&copy; 2017 Carlos Santos.</p>
    </footer>
  </div> <!-- container -->
</body>
</html>
